<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="/vendor/bower_components/semantic/dist/semantic.css"/>
    <link rel="stylesheet" href="/css/app.css"/>

    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/semantic/dist/semantic.js"></script>

</head>
<body>
<header>
</header>
<section class="container">

    <% partial('../partials/topNavigation') %>

    <%- body %>
</section>
<footer>
</footer>
</body>
</html>